.nav-bar{
    background-color: darkslateblue;
}

.brand-name{
    color: "#ff66ff";
    font-family: "Alegreya" ;
}


.font-style{
    font-family: "Alegreya" ;
}

.menu-buttons{
    width: 10%;
    height: 10%;
    font-weight: bold;
}

